@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --white: white;
  --body-font: "Kumbh Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: var(--body-font);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 500px;
  width: 900px;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.left-image {
  overflow: hidden;
  height: inherit;
  background-image: url("images/bg-pattern-desktop.svg");
  background-position: top -300px left -530px;
  background-repeat: no-repeat;
  flex-basis: 0;
  flex-grow: 1;
}
.top-image {
  display: none;
  background-image: url("images/bg-pattern-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  height: 110px;
}
.top-image > img {
  width: 260px;
  position: absolute;
  top: -120px;
  left: 120px;
}
.box-image {
  position: absolute;
  z-index: 1;
  left: -90px;
  top: 180px;
}
.woman-image {
  position: relative;
  left: -80px;
  top: 50px;
}
.faq-section {
  flex-basis: 0;
  flex-grow: 1;
}
.faq-container {
  margin: 20px;
  width: 85%;
}
.heading {
  font-size: x-large;
  margin-top: 50px;
}
.question-answer-container {
  margin-top: 30px;
}
.query-icon-container {
  display: flex;
  justify-content: space-between;
}
.query {
  color: var(--very-dark-grayish-blue);
}
.query > p {
  font-size: large;
}
.font-weight-query {
  font-weight: bold;
}
.answer {
  margin-top: 15px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  color: var(--dark-grayish-blue);
  font-size: 13px;
  transition: all 0.5s ease-in;
}
.show-answer {
  height: auto;
  opacity: 1;
}
.query:hover {
  cursor: pointer;
  color: var(--soft-red);
}
.icon {
  transition: all 0.2s ease-in;
}
.icon:hover {
  cursor: pointer;
}
.icon-rotate {
  transform: rotate(180deg);
}
.line-break {
  margin: 10px 0;
}

@media screen and (max-width: 980px) {
  .container {
    width: 500px;
    height: 500px;
    margin-top: 120px;
    display: block;
  }
  .left-image {
    display: none;
  }
  .top-image {
    display: block;
    background-position: top;
  }
  .faq-container {
    margin: 0px 10px 20px 35px;
  }
  .heading {
    margin-top: 0px;
    text-align: center;
  }
  .question-answer-container {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 450px;
    height: 500px;
    margin-top: 120px;
    display: block;
  }
  .left-image {
    display: none;
  }
  .top-image {
    display: block;
    background-position: top 0px left 100px;
  }
  .top-image > img {
    width: 240px;
    top: -110px;
    left: 105px;
  }
  .faq-container {
    margin: 0px 10px 20px 35px;
  }
  .heading {
    margin-top: 0px;
    text-align: center;
  }
  .question-answer-container {
    margin-top: 10px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: 370px;
    height: 490px;
    margin-top: 80px;
    display: block;
  }
  .left-image {
    display: none;
  }
  .top-image {
    display: block;
    background-position: top -10px left 65px;
  }
  .top-image > img {
    width: 200px;
    top: -95px;
    left: 85px;
  }
  .faq-container {
    margin: 0px 10px 20px 30px;
  }
  .heading {
    margin-top: 0px;
    text-align: center;
    font-size: large;
  }
  .query > p {
    font-size: medium;
  }
  .question-answer-container {
    margin-top: 10px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    width: 300px;
    height: 520px;
    margin-top: 80px;
    display: block;
  }
  .left-image {
    display: none;
  }
  .top-image {
    display: block;
    height: 80px;
    background-position: top -15px right 50px;
    background-size: 200px 90px;
  }
  .top-image > img {
    width: 180px;
    top: -85px;
    left: 60px;
  }
  .faq-container {
    margin: 0px 10px 20px 20px;
  }
  .heading {
    margin-top: 0px;
    text-align: center;
    font-size: medium;
  }
  .query > p {
    font-size: medium;
  }
  .question-answer-container {
    margin-top: 10px;
  }
}
@media screen and (max-width: 325px) {
  .container {
    width: 250px;
    height: 550px;
    margin-top: 80px;
    display: block;
  }
  .left-image {
    display: none;
  }
  .top-image {
    display: block;
    height: 70px;
    background-position: top -5px right 50px;
    background-size: 150px 75px;
  }
  .top-image > img {
    width: 160px;
    top: -75px;
    left: 45px;
  }
  .faq-container {
    margin: 0px 10px 20px 20px;
  }
  .heading {
    margin-top: 0px;
    text-align: center;
    font-size: medium;
  }
  .query > p {
    font-size: medium;
  }
  .question-answer-container {
    margin-top: 10px;
  }
}
